body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */

header {
    background-color: #175f94;
    color: #FFFFFF;
    padding: 0 70px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    margin: 5px;
}

.nav-bar{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 5px;
}

.nav-bar a{
    margin: 0 15px;
    text-decoration: none;  
    color: #FFFFFF;  
}

.search-bar{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.user-icon{
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

ul{
    list-style: none;
}

.button{
    background: none;
    border: none;
    cursor: pointer;
}

.button img{
    height: 30px;
}

.side-menu {
    height: 0;
    width: 250px;
    position: fixed;
    top: 15;
    right: 0;
    background-color:#175f94 ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #175f94;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Main */

main{
    align-content: center;
    box-sizing: border-box;
}

#corpo{
    border: 2px solid #333;
    padding: 15px;
    background-color: #FFFFFF;
}

#carrossel{
	position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
}

#carrossel .slide{
    display: none;
}

#carrossel .slide.active{
    display: block;
}


.description{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.buttons button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.modal img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.modal h2 {
    margin-top: 15px;
    font-size: 24px;
    color: #333;
}

.modal p {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.noticias{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    justify-content:space-between ;
    width: 500px;
    margin: 50px auto;
    padding: 0 200px 0px 60px;
    border-width: 5px;
}

.noticias-line{
    display: grid;
    grid-template-rows: 230px 230px 230px;
    justify-content:space-between ;
    width: 500px;
    margin: 50px auto;
    padding: 0 200px 0px 60px;
    border-width: 5px;
    
}

.noticias-line img{
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.noticias-line p{
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
}

h3{
    font-style: italic;
}

.texto-lado{
    padding: 30px;
    float: right;
}

.noticias p{
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
}

.noticia{
    justify-content: space-between;
}

.noticias img{
    border: 2px;;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #175f94;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid black;
}

.social-media a {
    margin-right: 10px;
    color: #FFFFFF;
    text-decoration: none;
    align-content: center;
}

.social-media img{
    width: 3%;
    height: 3%;
}

.contact-info {
    margin-top: 10px;
}

.contact-info a{
    color: #FFFFFF;
}