body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #175f94;
    color: #FFFFFF;
    padding: 0 70px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 5px;
}

.nav-bar a{
    margin: 0 15px;    
}

.search-bar{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.user-icon{
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

#hamburger{
    padding: 0 0 0 5;
}

#menu{
    display: none;
  }

#menu a{
    color: white;
}

ul{
    list-style: none;
}

#button{
    width: 50px;
    background-color:#175f94;
    border: none;
}

#button img{
    width: 100%;
    padding: 0px 0px 0px 10px;
}

/* Main */
.noticias{
    width: 500px;
    margin: 50px auto;
    padding: auto;
    border-width: 10px;
}

footer {
    background-color: #175f94;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
}

.social-media a {
    margin-right: 10px;
    color: #FFFFFF;
    text-decoration: none;
    align-content: center;
}

.social-media img{
    width: 3%;
    height: 3%;
}

.contact-info {
    margin-top: 10px;
}